# Introduction
In conclusion of the course Introduction to Python for Machine Learning, after several studies and practice with the dataset given, I took the graded quiz on Monday 20th July. This notebook provides a workings to my answers in the quiz.

In [1]:
# First inport the needed modules
import numpy as np
import pandas as pd

In [2]:
# load the dataset given
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data = pd.read_csv(url)
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## Question 1
If you are given two lists:
A = [1,2,3,4,5,6], B = [13,21,34]
The task is to create a list with the elements of A and B in a single dimesion with output:
A_B= [[1,2,3,4,5,6,13,21,34]

Solution:
In the options given were between the append() function and extend() function. The append() function is mostly used to add more items to a specified list although it could be used to join lists when used with a for loop whereas extend() function is used mostly to join more than one list together to become one whole list. This makes the extend() function option the most preferable option

In [3]:
# joining lists using extend()
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A_B = A
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [4]:
#joining list using append
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]
for x in B:
    A.append(x)
A_B = A
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Question 2
How do you create an identity matrix in python?

Solution:
An identity matix is a square matrix whose diagonals are filled with 1s while the rest are filled with 0s.
From the option given;
the np.array() functions take only from 1-2 positional arguments which gives an error because 3 positional arguments were given
eye() gives an error as eye is not identified as a function
this leaves only the np.identity() option which is the correct answer as it outputs an identity matrix

In [9]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [13]:
np.array([1,0,0],[0,1,0],[0,0,1])

NameError: name 'eye' is not defined

In [14]:
eye(3)

NameError: name 'eye' is not defined

## Question 3
The feature with the missing values falls under what category? What missing value imputation technique would you use?

Solution:
There are three types of category a data can fall under; categorical and numerical data. Categorical data are qualitative data with no logical order, it includes nominal and ordinal variables. Numerical data are quantitative data that includes discrete and continous variables.
The missing values falls under the categorical data as it is a qualitative data. The imputation technique used was mode imputation as the most common value was used to fill the missing values

In [30]:
#finding the most common value(mcv) in the fuel unit by counting the number of times each value appeared in the columnn
fuel_data.groupby('fuel_unit')['fuel_unit'].count() # showed that mcf appeared the most making it the mcv

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [31]:
#fill the missing  values with the most common value "mcf"
fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value='mcf')
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [32]:
#check if there are still any missing values
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

## Question 4
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994

Solution:
First we found the average fuel cost per unit burned for the fuel type coal for all the years by using the groupby and mean function. After which we extracted the fuel cost per unit burned for 1994 and 1998 then manually imputed the figures into the formular [(New - Old)/Old)*100] to find the percentage. This gave us a figure of -21% after rounding it up

In [34]:
fuel_data[fuel_data['fuel_type_code_pudl'] == 'coal'].groupby('report_year')['fuel_cost_per_unit_burned'].mean()

report_year
1994     31.546467
1995     30.677442
1996     29.454299
1997    104.897309
1998     27.616234
1999     38.361101
2000    249.203055
2001     41.622623
2002     27.623988
2003     94.085441
2004     29.913239
2005     34.281426
2006     37.928697
2007     39.288397
2008     44.507292
2009    142.805197
2010    280.467547
2011     52.634721
2012     53.657789
2013     55.093312
2014     52.244736
2015     49.769534
2016     46.447385
2017     45.983336
2018     44.967758
Name: fuel_cost_per_unit_burned, dtype: float64

In [35]:
percent = ((11902.597 - 14984.572)/14984.572)*100
print(round(percent))

-21

## Question 5
Which year has the highest average fuel cost per unit delivered?

Solution:
This was solved by grouping the dataset by the report years using the groupby function, then finding the mean (which is also the average) of the fuel cost per unit delivered column using the mean() function. The solution of the previous steps were then grouped and sorted in a descending order (highest values first). This revealed that the year 1997 had the highest average fuel cost per unit delivered.

In [19]:
Avg_values = fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
Desc_avg_values = Avg_values.sort_values(ascending=False)
Desc_avg_values.head()

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

## Question 6
What is the standard deviation and 75th percentile of the measure of energy unit (Fuel_mmbtu_per_unit) in two decimal places?

Solution:
The describe() function was used to calculate various statistical measurement of the whole data, while the round() function was used to round up all the figures provided by the describe function to 2 decimal places (as specified) from whcih the standard deviation and 75th percentile of the measure of energy unit (Fuel_mmbtu_per_unit) was extracted from.
std = 10.6
75% = 17.01

In [22]:
#to calculate the various statistical measurement of the whole data
round(fuel_data.describe(include='all'), 2)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.00,29523.00,29523,29523,29343,2.952300e+04,29523.00,29523.00,29523.00,29523.00
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2000_12_55_1_13,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.60,2005.81,NaN,NaN,NaN,2.622119e+06,8.49,208.65,917.57,19.30
std,NaN,74.18,7.03,NaN,NaN,NaN,9.118004e+06,10.60,2854.49,68775.93,2091.54
min,NaN,1.00,1994.00,NaN,NaN,NaN,1.000000e+00,0.00,-276.08,-874.94,-41.50
25%,NaN,55.00,2000.00,NaN,NaN,NaN,1.381700e+04,1.02,5.21,3.78,1.94
50%,NaN,122.00,2006.00,NaN,NaN,NaN,2.533220e+05,5.76,26.00,17.37,4.13
75%,NaN,176.00,2012.00,NaN,NaN,NaN,1.424034e+06,17.01,47.11,42.14,7.74
max,NaN,514.00,2018.00,NaN,NaN,NaN,5.558942e+08,341.26,139358.00,7964521.00,359278.00

## Question 7
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

Solution:
The skew() function was used to find the skewness while the kurt() function was used to find the kurtosis and both function was runned of the fuel quantity burned column and a round() function was used to rounf the figuresto 2 decimal places
skewness = 15.85
kurtosis = 651.37

In [33]:
round(fuel_data['fuel_qty_burned'].skew(), 2)

15.85

In [27]:
round(fuel_data['fuel_qty_burned'].kurt(), 2)

651.37

## Question 8 
Which feature has missing values and what is the total number of missing value and percentage of rows as a factor of the total number of rows in 3 decimal places?

Solution:
To find the feature with the missing values and amount of the missing values, the combination of isnull() and sum() fubctions where used which showed us that fuel unit was the features with the missing values having a total of 180 missing values which we measured against the total rows of the fuel unit columns and multiplied by 100 to find the percentage ratio of the missing value to the total rows

In [21]:
#check for missing values among the columns 
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [29]:
# to count the total number of rows in the fuel unit columns
fuel_data['fuel_unit'].count()

29343

In [28]:
round((180/29343)*100, 3)

0.613

## Question 9
Which of the following fuel type code has the lowest average fuel cost per unit burned?

Solution:
The the fuel type code with the lowest average fuel cost per unit burned is gas. This was solved by using the groupby function to group the dataset by the fuel types then finding the mean of the fuel cost per unit burned. The solution was arranged in an ascending order and the lowest cost extracted

In [39]:
Avg_fuel_cost_burned = fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
Asc_avg_fuel_cost_burned = Avg_fuel_cost_burned.sort_values(ascending=True)
Asc_avg_fuel_cost_burned.head(6)

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 10
Which of the features has the second and third lowest correlation with the fuel cost per unit burned?

Solution:
The fuel quantity burned nad fuel mmbtu per unit had the second and third lowest correlation with the fuel cost per unit burned. This was gotten after calculating the correlation between fuel cost per unit burned and each specified columns given in the option. The results were then manually compared with a number line and the answers extracted.

In [47]:
corr = fuel_data['fuel_cost_per_unit_burned'].corr(fuel_data['report_year'])
print(corr)

0.013599134438134116

In [51]:
corr = fuel_data['fuel_cost_per_unit_burned'].corr(fuel_data['utility_id_ferc1'])
print(corr)

-0.0378627075999726

In [50]:
corr = fuel_data['fuel_cost_per_unit_burned'].corr(fuel_data['fuel_qty_burned'])
print(corr)

-0.018535416794825225

In [52]:
corr = fuel_data['fuel_cost_per_unit_burned'].corr(fuel_data['fuel_mmbtu_per_unit'])
print(corr)

-0.010033808428853071

In [53]:
corr = fuel_data['fuel_cost_per_unit_burned'].corr(fuel_data['fuel_cost_per_unit_delivered'])
print(corr)

0.01100740329916511

In [54]:
corr = fuel_data['fuel_cost_per_unit_burned'].corr(fuel_data['fuel_cost_per_mmbtu'])
print(corr)

-0.0004372104439704003